<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          icon="chevron-back-circle"
          defaultHref = "/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      My Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title slot = "secondary">My Cart</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  

<ion-card *ngFor = "let item of items">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-header>
          <img src = "{{item.img}}">
        </ion-card-header>
      </ion-col>

      <ion-col>
        <!-- <ion-card-title>{{item.title}}</ion-card-title> -->
        <ion-card-content>
          <h1>{{item.title}}</h1>
          <div>{{item.price | currency: 'Rp'}}</div>
          <ion-button (click) = "hapus(item)" expand = "block" color = "danger">Hapus</ion-button>
        </ion-card-content>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-card>

</ion-content>
