<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button defaultHref = "/"></ion-back-button>
    </ion-buttons>
    <ion-title>Preview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "item">
  <ion-slides pager = "true">
    <ion-slide>
  <img src = "{{item.img}}">
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-list-header>{{item.title}}</ion-list-header>
    <ion-item lines = "none">
      <ion-label>Description</ion-label>
    </ion-item>
    <ion-item lines = "none">
      <p>{{item.desc}}</p>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
    <!-- <ion-title>
      Add to Cart
    </ion-title> -->
      <ion-button expand = "block"> Add To Cart</ion-button>
</ion-footer>
